*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:black;
color:white;
}

/* NAVBAR */
header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:18px 40px;
background:rgba(0,0,0,0.8);
border-bottom:1px solid #222;
}

nav a{
color:#bbb;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:white;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.hero video{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
filter:brightness(40%);
}

.hero h1{
font-size:55px;
margin-bottom:10px;
}

.hero p{
color:#ccc;
}

/* FORM SECTION */
.application{
padding:120px 20px;
text-align:center;
}

.application form{
max-width:500px;
margin:auto;
background:#111;
padding:40px;
border-radius:12px;
border:1px solid #222;
display:flex;
flex-direction:column;
gap:15px;
}

input,select,textarea{
background:black;
color:white;
border:1px solid #333;
padding:14px;
border-radius:8px;
}

input:focus,
select:focus,
textarea:focus{
border-color:white;
outline:none;
}

textarea{
height:110px;
}

button{
background:white;
color:black;
padding:14px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#ccc;
}

#successMsg{
margin-top:10px;
color:lime;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
border-top:1px solid #222;
margin-top:40px;
}

/* SCROLLBAR */
::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:white;
}